##
# .browserslistrc
# ---------------
# @author brikcss
# @homepage https://github.com/brikcss
# @description Official browser support policy. See [BrowsersList](https://github.com/ai/browserslist).
# ---------------------------------------------------------------------
##


Last 2 versions
IE 11
