##
# .gitignore
# ----------
# @author brikcss
# @homepage https://github.com/brikcss
# @description Files to ignore by [git](https://git-scm.com/).
# ---------------------------------------------------------------------
##


# Node
node_modules

# MacOS
.DS_Store

# App

