##
# .travis.yml
# -----------
# @author brikcss
# @homepage https://github.com/brikcss
# @description Configuration file for [TravisCI](https://travis-ci.org/).
# ---------------------------------------------------------------------
##


language: node_js
cache:
  bundler: true
  directories:
    - node_modules
notifications:
  email:
    on_failure: always
node_js:
  - '8'
env:
  - BUILD_LEADER_ID=2 NODE_ENV=prod
before_script: npm prune -d
script: npm run prod -d

jobs:
  include:
    - stage: release
      node_js: '9'
      before_script: npm prune -d
      script: npm run prod -d
      after_script: npm run release -d
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
